{%load static%}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="shortcut icon" href="{% static 'images/gt_favicon.png' %}">
    <link rel="stylesheet" href="{%static 'css/log.css' %}">
    <link rel="stylesheet" href="{%static 'css/semantic.css' %}">
</head>
<body class="register">
    <div class="ui center aligned grid" style="margin-top: 200px">
        <div class="ui six wide column">
            <h1 class="ui teal header"><font color="black">JZhangBlog-UserRegister</font></h1>
            <div class="ui segment">
                <div class="ui content">
                    <form class="ui form" method="post" action="{%url 'register'%}"  enctype="multipart/form-data">
                        <div class="field">
                            <input type="text" name="username" placeholder="Please input user name"><br>
                        </div>
                        <div class="field">
                            <input type="password" name="password_1" placeholder="Please input password"><br>
                        </div>
                        <div class="field">
                            <input type="password" name="password_2" placeholder="Please confirm the password"><br>
                        </div>
                        <div class="field">
                            <input type="text" name="nickname" placeholder="Please input the nick-name"><br>
                        </div>
                        <div class="field">
                            <input type="text" name="email" placeholder="Please input the e-mail"><br>
                        </div>
                        <div>Avatar<input type="file" name="avatar"></div>
                        {{ error }}<br>
                        <button class="ui fluid large teal button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
